# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
aiohttp
aiosignal
anyio
apispec
appdirs
APScheduler
astral
async-timeout
atomicwrites-homeassistant
attrs
Authomatic
awesomeversion
Babel
bcrypt
blinker
cached-property
certifi
cffi
chardet
charset-normalizer
ciso8601
click
colorama
configparser
confluent-kafka
cryptography
Deprecated
dnspython
email-validator
Flask
Flask-AppBuilder
Flask-APScheduler
Flask-Babel
Flask-Cors
flask-crontab
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Mail
flask-mongoengine
Flask-SQLAlchemy
Flask-WTF
frozenlist
future
greenlet
gunicorn
h11
home-assistant-bluetooth
homeassistant
httpcore
httpx
idna
ifaddr
importlib-resources
install
itsdangerous
Jinja2
jsonschema
kafka
kafka-python
limits
lru-dict
markdown-it-py
MarkupSafe
marshmallow
marshmallow-enum
marshmallow-sqlalchemy
mdurl
mongoengine
multidict
ndg-httpsclient
num2words
numpy
opencv-python
ordered-set
orjson
packaging
pandas
passlib
polib
prison
pyasn1
pycparser
pydot
Pygments
PyJWT
pymongo
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-dateutil
python-slugify
python-stdnum
pytz
pytz-deprecation-shim
pyusb
PyYAML
qrcode
requests
rfc3986
rich
six
sniffio
soupsieve
SQLAlchemy
SQLAlchemy-Utils
text-unidecode
typing_extensions
tzdata
tzlocal
urllib3
voluptuous
voluptuous-serialize
Werkzeug
wrapt
WTForms
xlrd
XlsxWriter
xlwt
yarl
zope.event
zope.interface
